/* Utility classes */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 800px;
    /* always do minheight. big enough to see, small enough to xpand */
    min-height: 500px;
    /* background-color: lightblue; */
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.flex-start{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
}

.profile-pic{
    width: 50px;
}

.mb{
    margin-bottom: 1rem;
}

.copy-color{
    color: rgb(104, 102, 102);
}

/* nav classes */

nav{
    /* try to control height of boxes with padding */
    padding: 0.5rem;
    /* min-height: 50px; */
    /* background-color: pink; */
}

nav img{
    width: 80px;
}

nav ul{
    list-style: none;
}

.btn{
    background-color: orange;
    /* this gets rid of border */
    border: 0;
    /* use em to change with the users unique font size */
    padding: .75em 1.5em;
    font-weight: bold;
}

/* hero classes */

/* .hero{
    control out for now 
    /* min-height: 150px; */
    /* background-color: yellow;
} */

.hero-image{
    flex: 2;
    width: 100px;
}

.hero-copy{
    flex: 3;
}

.flex-start p{
    font-size: small;
}

/* features classes */

.features{
    min-height: 300px;
    /* background-color: aqua; */
}

.feature{
    /* background-color: firebrick; */
    min-height: 300px;
    flex: 1;
}

.feature-image{
    width: 100%;
}

/* footer classes */

footer{
    min-height: 50px;
    /* background-color: lavender; */
}

footer img{
    width: 80px;
}

.legal{
    font-size: x-small;
}
