*{
    margin: 5px;
}

#search{
    color:aquamarine;
    width: 125px;
    border-radius: 15px;
    border-color: aquamarine;
    padding: 5px 30px;
}

#plus{
    color: white;
    background-color: aquamarine;
    width: 40px;
    height: 40px;
    border: 100px;
    border-radius: 50%;
}

#account{
    color: white;
    background-color:dodgerblue;
    box-shadow: 3px 3px black;
    border-color: black;
    padding: 10px;
    width: 175px;
}
