*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
    font-weight: 700;
}

/* utility classes */

.flex{
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.flexwrap{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.title-setup{
    color: white;
    background-color: #333333;
    justify-content: flex-start;
    padding-left: 15px;
}

.body-details{
    width: 97%;
    min-height: 40px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #cccccc;
}

/* container class */

.container{
    width: 70%;
    min-height: 800px;
    margin: 0 auto;
}

/* nav classes */

.nav{
    color: #e9e4e4;
    background-color: #333333;
    padding: 1rem;
}

.nav-menu{
    display: flex;
    margin-left: 15%;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

.nav ul{
    list-style: none;
    gap: 20px;
}

.nav a{
    list-style: none;
    color: #e9e4e4;
    text-decoration: none;
}

.btn{
    color: white;
    background-color: #17a2b8;
    box-shadow: 3px 3px black;
    width: 80px;
    margin: 0 15%;
    justify-content: flex-end;
}

/* left side classes */

.left-main-page{
    flex: 3;
    min-height: 800px;
}

/* user card box */

.user-card{
    width: 97%;
    min-height: 245px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.user-card-title{
    height: 65px;
    background-color: #17a2b8;
}

.user-card-body{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.strips{
    padding-top: 5px;
} 

/* education box */

.education{
    min-height: 245px;
}

.education-title{
    height: 50px;
    padding-top: 14px;
    padding-left: 22px;
}

.education-body{
    padding-left: 22px;
    gap: 10px;
}

.space-out-ed-body{
    margin-top: 8px;
}

#first-paragraph{
    margin-top: 10px;
    color: #a2a2a2;
}

/* for some reason neither flex nor flexwrap was putting the education-body correctly, but this worked */
/* still figuring out why sometimes flexbox works and flex doesnt- used this a few times */
.flexbox{
    display: flexbox;
}

/* custom images */

.mapMarker{
    width: 11px;
    margin: 5px 5px 5px 0;
}

.gear{
    width: 14px;
    margin: 5px 5px 5px 0;
}

.userCircle{
    width: 65px;
    margin: 30px;
}

#seatle{
    margin-top: 4px;
}

#profile{
    margin-top: 2px;
} 

/* right main page classes */

.right-main-page{
    flex: 2;
    min-height: 800px;
}

/* connection request box */

.connection-requests{
    min-height: 140px;
}

.connection-requests-title{
    height: 50px;
    gap: 15px;
    align-items: center;
}

.connection-requests-circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #cccccc;
}

.connection-requests-circle p{
    margin-top: 5px;
    margin-left: 11px;
}

/* your connections box */

.your-connections-title{
    height: 40px;
    gap: 15px;
    align-items: center;
}

.your-connections-oval{
    width: 50px;
    height: 30px;
    border-radius: 50%;
    background-color: #cccccc;
}

.your-connections-oval p{
    margin-top: 5px;
    margin-left: 8px;
}

.view-more{
    width: 97%;
    min-height: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #cccccc;
    border-top: 0;
}

.view-more p{
    padding-top: 10px;
    padding-left: 16px;
}

/* utility classes */

.person-and-name{
    align-items: center;
    gap: 10px;
}

.accept-or-deny{
    gap: 20px;
    margin-right: 15px;
}

.person-image{
    margin: 10px;
    margin-left: 15px;
    width: 40px;
    border-radius: 50%;
}

.check{
    width: 35px;
}