h1{
    color: blueviolet;
}

.box-model{  /* .box-model is specificla to the class box model */
    /* this allows the separate divs to be on the same line, inline */
    display: inline-block; 
    /* this shortens the display to only what is needed */

    background-color:coral;

    /* for padding and margin size */
    /* 1 value - all four sides */
    /* 2 values - first defines top and bottom, second defiens left and right */
    /* 3 values - first defines top, second defines left and right, third defines bottom */
    /* 4 values - defines each side in a clockwise manner starting on top*/
    /* padding will push content (children) in */
    padding: 20px; /* this is hte same as doing 20px on the top, 20px on the botoom, and 20px on both sides */

    /* margin will push everything in */
    margin: 10px;

    border: 5px dotted red;
}

.spacer{
    display: inline-block;
    background-color: aqua;
    width: 100px;
    min-height: 100px;
}